$primary_color: red;
$grey: #ccc;

.slektr {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: auto !important;
  padding: 0px !important;
  margin: 0px !important;



  .slektr-field {
    padding: 6px 12px;
    margin: 0px;
    cursor: pointer;
  }

  .slektr-field-single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .slektr-options-container {
    position: absolute;
    z-index: 99999;
    background-color: white;
    border: 1px solid $grey;
    padding: 6px 6px;
  }

  .slektr-options-container-list {
    max-height: 200px;
    margin: 0px;
    overflow: auto;
  }

  input.slektr-options-filter-input {
    width: 100%;
    margin-bottom: 12px;
  }

  .slektr-option {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 1px 6px 1px 0;
    padding: 6px 6px;
  }

  .slektr-option.selected {
    background-color: $primary_color;
    color: white;
  }

  .slektr-option.current_selection {
    border: 1px solid $primary_color;
    margin: none;
  }

  .slektr-option:hover {
    cursor: pointer;
  }


  .slektr-option-group {
    font-weight: bold;
  }

  .slektr-multiple-option {
    height: 24px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    background-color: $grey;
    padding: 2px 6px;
    margin: 0px 4px;
  }
  .slektr-multiple-option.slektr-multiple-option-label {
    padding-right: 6px;
  }

  .slektr-multiple-option-delete, .slektr-single-option-delete {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    height: 24px;
  }

  svg {
    pointer-events: none;
  }

  .slektr-fetch-options-spinner {
    padding-left: 12px;
    border: 8px solid $grey;
    border-top: 8px solid $primary_color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: slektr-spin 2s linear infinite;
  }

  @keyframes slektr-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}
